
<footer class="fixed-footer footer">
  <div class="copyright" style="color:lightgray">
          &copy;
          <script>
              document.write(new Date().getFullYear())
          </script>, Project by
          <a href="https://evie.codes/" target="_blank">Évelyne Lachance</a>. Modified by
          <a href="https://sistine.ml/" target="_blank">Kashall</a>.
  </div>
</footer>
</div>
</body>
</html>