
<footer class="footer">
<div class="container">
  <nav>
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/commands">Commands</a>
                        </li>
                        <li>
                            <a href="/stats">Stats</a>
                        </li>
                        <li>
                            <a href="https://discordbots.org/bot/sistine">Discord Org List</a>
                        </li>
                        <li>
                            <a href="https://bots.discord.pw/bots/353929487018229762">Discord PW List</a>
                        </li>
                        <li>
                            <a href="https://ls.terminal.ink/bot/353929487018229762">Terminal List</a>
                        </li>
                    </ul>
                </nav>
  <div class="copyright" >
          &copy; 2017, Built for <a href="https://sistine.ml/" target="_blank">Sistine</a> by <a href="https://github.com/Kashalls" target="_blank" rel="noopener">Kashall</a>.
  </div>
  </div>
</footer>
</body>
</html>
