<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Sistine, one of many Discord Bots, but only one that provides Simple, Fun, and Quality commands all in one bot.">
  <meta name="keywords" content="Sistine,sistine,discord,bots,discord bots,discordbot,amazing,bestwaifu,quality,music,musicbot">
  <meta name="author" content="Jordan Jones">
  <meta property="og:url" content="https://sistine.ml/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Sistine - One of many, one of a kind.">
  <meta property="og:description" content="Sistine, one of many Discord Bots, but only one that provides Simple, Fun, and Quality commands all in one bot.">
  <meta property="og:image" content="https://cdn.discordapp.com/avatars/353929487018229762/e47c260b60d120f3c6f9c1d13a1e598b.png?size=512">
  <meta property="og:image:secure_url" content="https://cdn.discordapp.com/avatars/353929487018229762/e47c260b60d120f3c6f9c1d13a1e598b.png?size=512">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='icon' href='./public/i/sistine.jpg'>
  <title>Sistine</title>
  <link rel="stylesheet" href="/public/css/now-ui-kit.css?v=1.1.0" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/public/css/dashboard.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/v/bs4/dt-1.10.16/cr-1.4.1/r-2.2.0/datatables.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js" integrity="sha256-zG8v+NWiZxmjNi+CvUYnZwKtHzFtdO8cAKUIdB8+U9I=" crossorigin="anonymous"></script>
  <script src="/public/js/plugins/bootstrap-switch.js"></script>
  <script src="/public/js/now-ui-kit.js?v=1.1.0" type="text/javascript"></script>
</head>

<body class="SistineBestBot sidebar-collapse">
  <nav class="color-strip navbar navbar-expand-lg navbar-toggleable-md navbar-inverse bg-primary fixed-top text-shadow">
    <div class="container">
      <div class="navbar-translate">
          <h5><b>SISTINE</b></h5>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <ul class="navbar-nav text-shadow">
          <li class="nav-item">
            <a class="nav-link" href="/commands"><i class="fa fa-book"></i><p> Commands</p></a></li>
          <li class="nav-item"><a class="nav-link" href="https://discordapp.com/oauth2/authorize?client_id=353929487018229762&scope=bot"><i class="fa fa-fw fa-plus"></i> Add to your Guild</a></li>
          <li class="nav-item"><a class="nav-link" href="/stats"><i class="fa fa-bookmark-o"></i> Sistine Stats</a></li>
          <li class="nav-item"><a class="nav-link" href="https://discord.gg/jgPNHWy"><i class="fa fa-question"></i> Support Guild</a></li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="Follow Development on Twitter" data-placement="bottom" href="https://twitter.com/Kashalls"
              target="noopener">
              <i class="fa fa-twitter"></i><p class="d-lg-none d-xl-none">Twitter</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="Help Support Sistine on Patreon" data-placement="bottom" href="https://www.patreon.com/Kashall"
              target="noopener">
              <i class="fa fa-paypal"></i><p class="d-lg-none d-xl-none">Patreon</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="wrapper">
