<%- include('blocks/header', {bot: bot, user: user, path: path, auth: auth}) %>
<div class="container">
  <div class="jumbotron">
    <div>
      <h1 class="text-danger">Authentication Error</h1>
      <p>There has been a problem with authenticating your Discord profile, please contact Support.</p>
    </div>
  </div>
  <% include ./blocks/footer %>
