<%- include('blocks/header', {bot: bot, user: user, path: path, auth: auth}) %>
    <div class="container">
      <div class="content brand" style="text-align: center;">
        <img class="botProfilePicture" src="<%= bot.user.displayAvatarURL({ "format": 'png', "size": 512}) %>" alt="<%= bot.user.username %>'s Avatar">
        <h1 class="h1-seo" style="margin-top: 15px">
          <%= bot.user.username %>
        </h1>
        <h4>
            Sistine is one of many Discord Bots, but she is the only one that provides <u>Simple</u>, <u>Fun</u>, and <u>Quality</u> commands all in one bot.
        </h4>
      </div>
    </div>
  <% include ./blocks/footer %>
  </div>
