<%- include('blocks/header') %>
  <div class="container text-center" style="overflow:hidden;position:relative;">
    <div class="mt-5 mb-5">
      <img class="profile-bot" src="https://cdn.discordapp.com/avatars/353929487018229762/e47c260b60d120f3c6f9c1d13a1e598b.png?size=512" alt="Sistine's Avatar">
    </div>
      <h1 class="jumbotron-heading">Sistine <small style="font-size:10px"><b>Beta</b></small></h1>
      <p class="lead text-muted">シスチンファイバー</p>
      <p>
        <a data-target="_blank" data-href="/invite" class="btn btn-raised btn-secondary">Invite</a>
        <a data-href="https://www.paypal.me/AltarisNine" class="btn btn-raised btn-secondary">Donate</a>
      </p>
    </div>
    </div>
  <% include ./blocks/footer %>
  </div>
